<div class="container">
<%= link_to "Edit profile", edit_user_registration_path%>
<br>
<br>

<div class="user-info">
<% if current_user.photo.attached? %>
  <%= cl_image_tag(current_user.photo.key, class:"big-avatar")%>
<% end %>

<h3>Hi, <%= current_user.full_name %></h3>
<br>
</div>

<h4>Bookings I made</h4>

<% if @bookings_by_me.nil? %>
  <h1>you have no bookings yet</h1>
<% else %>
  <div class="grid-container">
    <% @bookings_by_me.each do |booking|%>
      <%= render "shared/booking-card", booking: booking %>
    <% end %>
  </div>
<% end %>

<% if @my_cameras.nil? %>
  <h1>you have no cameras yet</h1>
<% else %>
<h4>Cameras I posted</h4>
  <div class="grid-container">
    <% @my_cameras.each do |camera| %>
      <%= render  "shared/camera-card", camera: camera %>
    <% end %>
  </div>
<% end %>
</div>

<%= render  "shared/action-bar" %>