<div class="booking-card">
<% if (!booking.camera.photo.key.nil?) %>
  <%= cl_image_tag(booking.camera.photo.key, class:"booking-card-image") %>
<% end %>
  
  <h5>Camera: <%= booking.camera.title %></h5>
  <p>Camera owner: <%= booking.camera.user.full_name %></p>
  <p>Start date: <%= booking.start_date %></p>
  <p>End date: <%= booking.end_date %></p>
</div>