<div class="camera-card">
  <% if camera.photo.attached? %>
    <%= cl_image_tag(camera.photo.key, class:"camera-img") %>
  <% end %>
  <div class="title-and-avatar">
    <h4><%= camera.title %></h4>
    <%= cl_image_tag(camera.user.photo.key, class:"avatar") %>
  </div>
  <p><b><%= camera.price_per_day %></b> / day</p>
  <p><%= camera.address %></p>
</div>