<nav>
  <div class="navbar-container">
    <div class="navbar-item">
      <%= link_to root_path do %>
        <%= image_tag "logo.svg", class: "logo" %>
      <% end %>
    </div>
    <ul class="navbar-menu">
    <% if user_signed_in? %>
      <li class="navbar-item">
        <p><%= link_to "Add camera", new_camera_path, class: "nav-link mt-1" %></p>
      </li>
      <li class="navbar-item">
        <p><%= link_to "My profile", dashboard_path, class: "nav-link mt-1" %></p>
      </li>
    <% else %>
    <li class="navbar-item">
      <p><%= link_to "Login", new_user_session_path, class: "nav-link mt-1" %></p>
    </li>
    <% end %>
    </ul>
  </div>
</nav>