<nav>
  <div class="navbar-container">
    <div class="navbar-item">
      <%= link_to root_path do %>
        <%= image_tag "logo.svg", class: "logo" %>
      <% end %>
    </div>
    <ul class="navbar-menu">
    <% if user_signed_in? %>
      <li class="navbar-item">
        <%= link_to "Add camera", new_camera_path, class: "nav-link btn btn-primary" %>
      </li>
      <li class="navbar-item">
        <%= link_to "My profile", dashboard_path, class: "nav-link" %>
      </li>
      <li class="navbar-item">
        <%= link_to "Settings", edit_user_registration_path, class: "nav-link" %>
      </li>
      <li class="navbar-item">
        <%= link_to "Log out", destroy_user_session_path, method: :delete,  class: "nav-link" %>
      </li>
    <% else %>
    <li class="navbar-item">
        <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </li>
    <% end %>
    </ul>
  </div>
</nav>