<div class="form-container">
  <%= simple_form_for(@camera) do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.input :title %>
    <%= f.input :category %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :price_per_day %>
    <%= f.input :extras %>
    <div class="form-actions">
      <%= f.submit "Add Camera", class:"btn btn-primary" %>
    </div>
  <% end %>
</div>