<%= render  "shared/mobile-navbar", left: '', right: '' %>

<div class="results-container">
  <div id="map-element" class="map-container" style="margin-top: 60px;">
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

  <div class="results-wrapper">
    <h2 id="view-cameras">More than <%= (@cameras.size - 2) %> cameras around you</h2>
    <ul class="grid-container">
      <% @cameras.each do |camera| %>
        <li>
          <%= link_to camera_path(camera) do %>
            <%= render "shared/camera-card", camera: camera %>
          <% end %>
        </li>
      <% end %>
    </ul>
    </div>
</div>

<div class="toggle-map-button">
  <%= link_to "Open Map", "#", class:"toggle-map"%>
</div>

<%= render "shared/action-bar"%>
